#boat {
	z-index: 2;
	position: absolute;
	top: 85px;
	transform: translate(-50%, -50%);
}

.imglist {
	display: flex;
	position: absolute;
}

#imglist2 {
    animation-name: img8;
    animation-duration: 3.2s;
    animation-delay: 0s; 
	top: 0px;
}
@keyframes img8 {
  0%,62%{ top: -300px; }
  80% { top: 130px; }
  100% { top: 0px; }
}
#imglist1 {
    animation-name: img1;
    animation-duration: 0.8s;
    animation-delay: 0s; 
	z-index: 2;
	bottom: 0px;
}

@keyframes img1 {
  0% { bottom: 720px; }
  65% { bottom: -60px; }
  100% { bottom: 0px; }
}
#imglist3 {
    animation-name: img2;
    animation-duration: 1.0s;
    animation-delay: 0s; 
	z-index: 2;
	bottom: 42px;
}
@keyframes img2 {
  0%,30%{ bottom: 800px; }
  85% { bottom: -30px; }
  100% { bottom: 42px; }
}
#imglist4 {
    animation-name: img7;
    animation-duration: 2.9s;
    animation-delay: 0s; 
	top: 0px;
}
@keyframes img7 {
  0%,62%{ top: -300px; }
  80% { top: 100px; }
  100% { top: 0px; }
}
#wave1 {
    animation-name: img6;
    animation-duration: 2.6s;
    animation-delay: 0s; 
	top: 250px;
	z-index: 1;
}
@keyframes img6 {
  0%,55%{ top: -200px; }
  78% { top: 300px; }
  100% { top: 250px; }
}
#wave2 {
    animation-name: img5;
    animation-duration: 2.3s;
    animation-delay: 0s; 
	top: 400px;
	left: -2002px;
	top: 320px;
	z-index: 1;
}
@keyframes img5 {
  0%,55%{ top: -200px; }
  78% { top: 400px; }
  100% { top: 320px; }
}
#wave3 {
    animation-name: img4;
    animation-duration: 2s;
    animation-delay: 0s; 
	top: 400px;
	z-index: 2;
}
@keyframes img4 {
  0%,45%{ top: -200px; }
  85% { top: 465px; }
  100% { top: 400px; }
}
#wave4 {
    animation-name: img3;
    animation-duration: 1.8s;
    animation-delay: 0s; 
	left: -2002px;
	top: 485px;
	z-index: 2;
}
@keyframes img3 {
  0%,30%{ top: -200px; }
  70% { top: 532px; }
  100% { top: 485px; }
}
.river {
	height: 350px;
	position: relative;
	top: 290px;
}